* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-auto-rows: 50px;
  gap: 5px;
  width: 80%;
  margin: 20px auto;
}

.item {
  padding: 10px;
  border: 1px solid rgb(42, 136, 212);
}

.confirmar {
  width: 150px;
  margin-left: 10%;
  height: 30px;
  background-color: aqua;
  border: 1px solid blue;
  border-radius: 10px;
  color: rgb(8, 68, 121);
  font-weight: 700;
  box-shadow: 1px 2px 2px black;
  transition: color 0.5s;
  transition: background-color 0.5s;
}

.confirmar:hover {
  color: white;
  background-color: rgb(151, 33, 33);
  cursor: pointer;
}
