* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
}

.contenedor {
  /* height: 400px;
  width: 400px; */
}

.txt {
  margin: 30px 30px;
  height: 30px;
  width: 230px;
  font-family: monospace;
  font-size: 20px;
}
.selector {
  color: grey;
  font-size: 20px;
  margin: 30px 30px;
}

b {
  color: #585;
}
